<% include home %>

	<head>
		<link href="/css/home.css" type="text/css" rel="stylesheet" />
	</head>

	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>Attendee Registration Form</h2>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<p>Please fill the below details</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<form action="/attendee" method="POST" id="myForm">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="name">First Name</label>
						<input type="text" class="form-control" id="fname" name="fname" required>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="name">Last Name</label>
						<input type="text" class="form-control" id="lname" name="lname" required>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="email">Email Address</label>
						<input type="email" class="form-control" id="email" name="email" required></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="contact">Contact Number</label>
						<input type="text" class="form-control" id="contact" name="contact" required></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="school">Institution</label>
						<input type="school" class="form-control" id="institution" name="institution"></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="school">Institution City</label>
						<input type="school" class="form-control" id="institutionc" name="institutionc"></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="school">Institution State</label>
						<input type="school" class="form-control" id="institutions" name="institutions"></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="school">Zip Code</label>
						<input type="school" class="form-control" id="zipcode" name="zipcode"></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="school">Country</label>
						<input type="school" class="form-control" id="country" name="country"></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="topic">Program</label>
						<select multiple name="program" id="program" class="form-control">
							<% for(let i = 0 ; i < list.length; i++) { %>
								<option value= '<%= list[i].add %>'><%= list[i].add %></option>							
								<% } %> 
						  </select>
						</div></div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="Food">Food</label><br>
						<input type="radio" name="food" value="Vegetarian">Vegetarian<br>
						<input type="radio" name="food" value="Regular">Regular<br>
						<input type="radio" name="food" value="Gluten Free">Gluten Free<br>
						<div class="col-md-4"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="submit" name="submit" class="btn btn-primary">Submit</button></div>
				<div class="col-md-4"></div>
				<input type="text" name="reply" hidden>
				<input type="text" name="pay" hidden>
		</form>