<% include adminheader %>

  <head>
    <link href="/css/AdminStyling.css" type="text/css" rel="stylesheet" />
  </head><br><br><br><br>

  <form action="/cleardb" method="POST">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Delete Database</button></div>
        <div class="col-md-4"></div>
      </div>
</form>
</body>

