<html>

<head>
    <link href="/css/edupay.css" type="text/css" rel="stylesheet" />
    <title>Conference </title>
</head>

<body>
    <p>Since you are a Northwest faculty there is no registration fee and you have been successfully registered for the conference.</p>
    <p>Bring your Id card while attending the conference</p>


</body>

</html>