<% include home %>

	<head>
		<link href="/css/home.css" type="text/css" rel="stylesheet" />

	</head>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h2>Northwest Faculty Registration Form</h2>
				<marquee bgcolor="red" style="color:#ffffff" font:"14px" behaviour="alternate" scrollamount="15">***Only for Northwest faculty***</marquee>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<p>Please fill the below details</p>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">

			<form method="POST" action="/mail">

				<div class="container">

					<!-- Button to Open the Modal -->
					<div class="col">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
							Generate Coupon
						</button></div>

					<!-- The Modal -->
					<div class="modal fade" id="myModal">
						<div class="modal-dialog">
							<div class="modal-content">

								<!-- Modal Header -->
								<div class="modal-header">
									<h3 class="modal-title">Enter email for coupon code</h3>
									<button type="button" name="genterate"class="close" data-dismiss="modal">&times;</button>
								</div>

								<!-- Modal body -->
								<div class="modal-body">
									<label for="email1">Email:</label>
									<input type="email" class="form-control" name="email1" id="email1" required>
								</div>
								<div class="ven">
									<button type="submit" name="save" class="btn btn-primary">Submit</button></div>
								<div class="modal-footer">
								</div>
							</div>
						</div>
					</div>

				</div>
			</form>
		</div>

		<form action="/faculty" method="POST">
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="name">First Name</label>
						<input type="text" class="form-control" id="fname" name="fname" pattern="[a-zA-Z]+" required>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="name">Last Name</label>
						<input type="text" class="form-control" id="lname" name="lname" pattern="[a-zA-Z]+" required>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="email">Email Address</label>
						<input type="email" class="form-control" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$+" required></div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
				<div class="form-group">
					<label for="contact">Contact Phone</label>
					<input type="text" class="form-control" id="contact" name="contact" pattern="[0-9]{10}" required></div></div>
                    <div class="col-md-4"></div>
				</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="topic">Program</label>
							<select multiple name="program" id="program" class="form-control">
								<% for(let i = 0 ; i < list.length; i++) { %>
									<option value= '<%= list[i].add %>'><%= list[i].add %></option>							
									<% } %> 
									</select>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="Food">Food</label><br>
						<input type="radio" name="food" value="Vegetarian">Vegetarian<br>
						<input type="radio" name="food" value="Regular">Regular<br>
						<input type="radio" name="food" value="Gluten Free">Gluten Free<br>
						<div class="col-md-4"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="submit" name="submit" class="btn btn-primary" id="coupon1">Submit</button></div>
				<div class="col-md-4"></div>
				<input type="text" name="reply" hidden>
				<input type="text" name="pay" hidden>
		</form>
		</div>