<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="Pavan Vudutha.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Conference </title>
</head>

<body>
	<br>

	<h2> &nbsp;&nbsp;This Page is redirected to northwest Gateway</h2>
	<div>
			<a href='/'><button class="btn btn-primary" type="button" value="Go Back" >Go Back</button></a>
		<!-- <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="goBack()">Go
			Back</button> -->
	</div>




	
</body>

</html>